@media(max-width:576px){
    .continer{
        width: 100%;
    }
    .w-xs-1{
        width: 8.33% ;
    }
    
    .w-xs-2{
        width: 16.66%;
    }
    
    .w-xs-3{
        width: 25%;
    }
    
    .w-xs-4{
        width:33.33%;
    }
    
    .w-xs-5{
        width: 41.66%;
    }
    
    .w-xs-6{
        width: 50%;
    }
    
    .w-xs-7{
        width: 58.33%;
    }
    
    .w-xs-8{
        width: 66.66%;
    }
    
    .w-xs-9{
        width: 75%;
    }
    
    .w-xs-10{
        width: 83.33%;
    }
    
    .w-xs-11{
        width: 91.66%;
    }
    
    .w-xs-12{
        width: 100%;
    }

    .d-xs-none{
        display: none;
    }

    .justify-xs-between{
        justify-content: space-between;
    }

    .toggle-menu{
        display: inline-block;
    }
    .d-xs-br-none{
        border: none;
    }
    /*banner*/
    .d-xs-font1{
        font-size: 36px;
        font-weight: 600;
    }

    .d-xs-font-none{
        display: none;
    }

    .d-xs-pos{
        bottom: 130px;
        right: 30px;
    }

    .d-xs-btn{
        font-size: 12px;
        padding:10px 20px ;
        font-weight: 500;
        transform: translateX(60px);
        word-spacing: 1px;
        letter-spacing: 0pc;
    }

    .d-xs-banner{
        height: 333px;
    }

    .font-style-2::before{
        position: absolute;
        content: '';
        background: transparent;
        background-repeat: no-repeat;
        left: 100%;
        width: 100px;
        height: 50px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background:transparent;
        background-repeat: no-repeat;
        top: 20%;
        width: 100px;
        height: 50px;
    }
    /*food offer*/
    .d-xs-block{
        display: block;
    }

    .radious-xs-br{
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px ;
        border-bottom-left-radius: 0px ;
        border-bottom-right-radius: 0px ;
        
    }

    .br-style{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        overflow: hidden;
    }

    .mb-15{
        margin-bottom: 15px;
    }
    
    /*elementor menu*/
    .elementor-p{
        font-size: 30px;
    }
    .menu-h{
        font-size: 15px;
    }
    .menu-pr{
        font-size: 15px;
        font-weight: 500;

    }
    .menu-1{
        padding: 0;
    }
    
    .menu-font-p{
        font-size: 10px;
    }
    
    .menu-s{
        font-size: 15px;
        letter-spacing: 1px;
    }
    /*delivery*/
    .d-deli-padd{
        padding-left: 40px;
    }

    .ts-img1{
        width: 515px;
        height: 300px;
        background-size: cover;
    }

    .ts-img2{
        width: 515px;
        height: 300px;
        background-size: cover;
    }

    .ts-img3{
        width: 515px;
        height: 300px;
        background-size: cover;
    }
    .d-pad-bot{
        padding-bottom: 10px;
    }
    /*table*/
        
    .t-b-img1{
        width: 575px;
        height: 765px;
        background-size: cover;
    }
    .tb-info-style textarea{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 250px;
    }

    .tb-info-style input{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
    }

    /*footer*/
    
    .footer{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flex-end{
        justify-content: flex-start;
        padding: 15px;
    }

    .d-pd-t{
        padding: 20px;
    }
    .d-f-l{
        line-height: 1px;
    }

    .d-footer-text{
        text-align: center;
    }
}

@media (min-width:576px) {
    .continer{
        width: 540px;
    }

    .w-s-1{
        width: 8.33% ;
    }
    
    .w-s-2{
        width: 16.66%;
    }
    
    .w-s-3{
        width: 25%;
    }
    
    .w-s-4{
        width:33.33%;
    }
    
    .w-s-5{
        width: 41.66%;
    }
    
    .w-s-6{
        width: 50%;
    }
    
    .w-s-7{
        width: 58.33%;
    }
    
    .w-s-8{
        width: 66.66%;
    }
    
    .w-s-9{
        width: 75%;
    }
    
    .w-s-10{
        width: 83.33%;
    }
    
    .w-s-11{
        width: 91.66%;
    }
    
    .w-s-12{
        width: 100%;
    }

    .d-s-none{
        display: none;
    }

    .justify-s-between{
        justify-content: space-between;
    }

    .toggle-menu{
        display: inline-block;
    }

    .d-s-br-none{
        border: none;
    }
    /*banner*/
    .d-s-font1{
        font-size: 30px;
        font-weight: 800;
    }

    .d-s-font-none{
        display: none;
    }

    .d-s-pos{
        bottom: 140px;
        right: 30px;
    }

    .d-s-btn{
        font-size: 13px;
        padding:10px 20px ;
        font-weight: 600;
        transform: translateX(60px);
        word-spacing: 1px;
        letter-spacing: 0pc;
    }

    .d-s-banner{
        height: 340px;
    }

    .font-style-2::before{
        position: absolute;
        content: '';
        background: transparent;
        background-repeat: no-repeat;
        left: 100%;
        width: 100px;
        height: 50px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background:transparent;
        background-repeat: no-repeat;
        top: 20%;
        width: 100px;
        height: 50px;
    }

    /*food offer*/

    .d-s-block{
        display: block;
    }

    .radious-s-br{
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px ;
        border-bottom-left-radius: 0px ;
        border-bottom-right-radius: 0px ;
        
    }

    .br-style{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        overflow: hidden;
    }

    .mb-15{
        margin-bottom: 15px;
    }

    /*elementor menu*/
    .elementor-p{
        font-size: 30px;
    }
    .menu-h{
        font-size: 15px;
    }
    .menu-pr{
        font-size: 15px;
        font-weight: 500;

    }
    .menu-1{
        padding: 0;
    }
    
    .menu-font-p{
        font-size: 10px;
    }
    
    .menu-s{
        font-size: 15px;
        letter-spacing: 1px;
    }

     /*delivery*/
     .d-deli-padd{
        padding-left: 40px;
    }

    .ts-img1{
        width: 515px;
        height: 300px;
        background-size: cover;
    }

    .ts-img2{
        width: 515px;
        height: 300px;
        background-size: cover;
    }

    .ts-img3{
        width: 515px;
        height: 300px;
        background-size: cover;
    }
    .d-pad-bot{
        padding-bottom: 10px;
    }

    /*table*/
        
    .t-b-img1{
        width: 580px;
        height: 765px;
        background-size: cover;
    }
    .tb-info-style textarea{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 250px;
    }

    .tb-info-style input{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    /*footer*/
    
    .footer{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flex-end{
        justify-content: flex-start;
        padding: 15px;
    }

    .d-pd-t{
        padding: 20px;
    }
    .d-f-l{
        line-height: 1px;
    }

    .d-footer-text{
        text-align: center;
    }

    
}

@media(min-width:768px){
    .continer{
        width: 720px;
    }

    .w-m-1{
        width: 8.33% ;
    }
    
    .w-m-2{
        width: 16.66%;
    }
    
    .w-m-3{
        width: 25%;
    }
    
    .w-m-4{
        width:33.33%;
    }
    
    .w-m-5{
        width: 41.66%;
    }
    
    .w-m-6{
        width: 50%;
    }
    
    .w-m-7{
        width: 58.33%;
    }
    
    .w-m-8{
        width: 66.66%;
    }
    
    .w-m-9{
        width: 75%;
    }
    
    .w-m-10{
        width: 83.33%;
    }
    
    .w-m-11{
        width: 91.66%;
    }
    
    .w-m-12{
        width: 100%;
    }

    .d-m-none{
        display: none;
    }

    .justify-m-between{
        justify-content: space-between;
    }

    .toggle-menu{
        display: inline-block;
    }

    .jus-end{
        justify-content: flex-end;
    }

    .d-m-br-none{
        border: none;
    }
    /*banner*/
    .d-m-font1{
        font-size: 45px;
    }

    .d-m-font-none{
        display: none;
    }

    .d-m-pos{
        bottom: 115px;
        right: 30px;
    }

    .d-m-btn{
        font-size: 14px;
        padding:10px 20px ;

        font-weight: 450;
        transform: translateX(80px);
        word-spacing: 2px;
        letter-spacing: 0px;
    }

    .d-m-banner{
        height: 370px;
    }
    
    .font-style-2::before{
        position: absolute;
        content: '';
        background: transparent;
        background-repeat: no-repeat;
        left: 100%;
        width: 100px;
        height: 50px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background:transparent;
        background-repeat: no-repeat;
        top: 20%;
        width: 100px;
        height: 50px;
    }

     /*food offer*/

     .d-m-block{
        display: block;
    }

    .radious-m-br{
        border-top-left-radius: 20px ;
        border-top-right-radius: 0px ;
        border-bottom-left-radius: 20px ;
        border-bottom-right-radius: 0px ;
        
    }

    .br-style{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
    }

    .mb-15{
        margin-bottom: 15px;
    }

    .mb{
        margin-bottom: 0px;
    }
    /*variety of dish*/
    .chili-img{
        bottom: 45%;
        left: -10%;
    }
    
    .tomato-img{
        bottom: 20%;
        right: -100px;
    }

    .green-img{
        bottom: 10%;
        right: -10%;
    }

    /*today special*/
    
    .pad-right{
        padding-right: 10px;
    }
    
    /*table*/
        
    .t-b-img1{
        width: 770px;
        height: 765px;
        background-size: cover;
    }
    .tb-info-style textarea{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 370px;
    }

    .tb-info-style input{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

     /*footer*/
    
     .footer{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flex-end{
        justify-content: flex-end;
        padding: 15px;
    }

    .d-pd-t{
        padding: 20px;
    }
    .d-f-l{
        line-height: 1px;
    }

    .d-footer-text{
        text-align: start;
    }
}

@media(min-width:992px){
    .continer{
        width: 960px;
    }
    
    .w-l-1{
        width: 8.33% ;
    }
    
    .w-l-2{
        width: 16.66%;
    }
    
    .w-l-3{
        width: 25%;
    }
    
    .w-l-4{
        width:33.33%;
    }
    
    .w-l-5{
        width: 41.66%;
    }
    
    .w-l-6{
        width: 50%;
    }
    
    .w-l-7{
        width: 58.33%;
    }
    
    .w-l-8{
        width: 66.66%;
    }
    
    .w-l-9{
        width: 75%;
    }
    
    .w-l-10{
        width: 83.33%;
    }
    
    .w-l-11{
        width: 91.66%;
    }
    
    .w-l-12{
        width: 100%;
    }

    .w-l-br-none{
        border: none;
    }

    /*banner*/
    .d-l-font1{
        font-size: 50px;
    }
    .d-l-font2{
        font-size: 45px;
        text-align: center;
    }

    .d-l-font-none{
        display: block;
    }

    .d-l-pos{
        bottom: 80px;
        right: 30px;
    }

    .d-l-btn{
        font-size: 14px;
        padding:15px 30px ;
        font-weight: 500;
        transform: translateX(150px);
        word-spacing: 2px;
        letter-spacing: 1px;
    }

    .d-l-banner{
        height: 500px;
    }

    .font-style-2::before{
        position: absolute;
        content: '';
        background: transparent;
        background-repeat: no-repeat;
        left: 100%;
        width: 100px;
        height: 50px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background:transparent;
        background-repeat: no-repeat;
        top: 20%;
        width: 100px;
        height: 50px;
    }
    .d-l-flex{
        display: flex;
    }

    /*elementor menu*/
    .elementor-p{
        font-size: 40px;
    }
    .menu-h{
        font-size: 16px;
    }
    .menu-pr{
        font-size: 17px;
        font-weight: 500;

    }
    .menu-1{
        padding: 0;
    }
    
    .menu-font-p{
        font-size: 10px;
    }
    
    .menu-s{
        font-size: 15px;
        letter-spacing: 2px;
    }

    /*table*/
        
    .t-b-img1{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .tb-info-style textarea{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 370px;
    }

    .tb-info-style input{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }


}

@media(min-width:1200px){
    .continer{
        width: 1140px;

    }

    
    .w-xl-1{
        width: 8.33% ;
    }
    
    .w-xl-2{
        width: 16.66%;
    }
    
    .w-xl-3{
        width: 25%;
    }
    
    .w-xl-4{
        width:33.33%;
    }
    
    .w-xl-5{
        width: 41.66%;
    }
    
    .w-xl-6{
        width: 50%;
    }
    
    .w-xl-7{
        width: 58.33%;
    }
    
    .w-xl-8{
        width: 66.66%;
    }
    
    .w-xl-9{
        width: 75%;
    }
    
    .w-xl-10{
        width: 83.33%;
    }
    
    .w-xl-11{
        width: 91.66%;
    }
    
    .w-xl-12{
        width: 100%;
    }

    .d-xl-none{
        display: none;
    }

    .d-xl-block{
        display: block;
    }

     /*banner*/
     .d-xl-font1{
        font-size: 65px;
    }
    .d-xl-font2{
        font-size: 45px;
        text-align: center;
    }

    .d-xl-font-none{
        display: block;
    }

    .d-xl-pos{
        bottom: 50px;
        right: 30px;
    }

    .d-xl-btn{
        font-size: 10px;
        padding:15px 30px ;
        font-weight: 600;
        transform: translateX(200px);
        word-spacing: 2px;
        letter-spacing: 0px;
    }

    .d-xl-banner{
        height: 600px;
    }

    .font-style-2::before{
        position: absolute;
        content: '';
        background-image: url('../images/slider3.png');
        background-repeat: no-repeat;
        left: 100%;
        width: 80px;
        height: 40px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background-image: url('../images/slider4.png');
        background-repeat: no-repeat;
        top: 20%;
        width: 80px;
        height: 40px;
    }

    /*elementor menu*/
    .elementor-p{
        font-size: 40px;
    }
    .menu-h{
        font-size: 16px;
    }
    .menu-pr{
        font-size: 20px;
        font-weight: 500;

    }
    .menu-1{
        padding: 0px 20px 0px 20px;
        margin-bottom: 40px;
    }
    .menu-font-p{
        font-size: 16px;
    }
    
    .menu-s{
        font-size: 15px;
        letter-spacing: 2px;
    }

    /*table*/
        
    .t-b-img1{
        width: 600px;
        height: 762px;
        background-size: cover;
    }
    .t-b-img2{
        width: 600px;
        height: 762px;
        background-size: cover;
    }
    .tb-info-style textarea{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 200px;
    }

    .tb-info-style input{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
     /*footer*/
    
     .footer{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flex-end{
        justify-content: flex-end;
        padding: 15px;
    }

    .d-pd-t{
        padding: 20px;
    }
    .d-f-l{
        line-height: 1px;
    }

    .d-footer-text{
        text-align: start;
    }
}

@media(min-width:1400px){
    .continer{
        width: 1320px;
    }

    .w-xxl-1{
        width: 8.33% ;
    }
    
    .w-xxl-2{
        width: 16.66%;
    }
    
    .w-xxl-3{
        width: 25%;
    }
    
    .w-xxl-4{
        width:33.33%;
    }
    
    .w-xxl-5{
        width: 41.66%;
    }
    
    .w-xxl-6{
        width: 50%;
    }
    
    .w-xxl-7{
        width: 58.33%;
    }
    
    .w-xxl-8{
        width: 66.66%;
    }
    
    .w-xxl-9{
        width: 75%;
    }
    
    .w-xxl-10{
        width: 83.33%;
    }
    
    .w-xxl-11{
        width: 91.66%;
    }
    
    .w-xxl-12{
        width: 100%;
    }

    .d-xxl-flex{
        display: flex;
    }
    .d-xxl-none{
        display: none;
    }

    .d-xxl-br-show{
        border: 1px solid white;
    }

    .d-xxl-center{
        justify-content: center;
    }

    /*banner*/
    .d-xxl-font1{
        font-size: 83px;
    }
    .d-xxl-font2{
        font-size: 50px;
        text-align: center;
    }

    .d-xxl-font-none{
        display: block;
    }

    .d-xxl-pos{
        top: 20px;
        left: 10px;
    }

    .d-xxl-btn{
        margin-top: 15px;
        font-weight: 500;
        font-size: 13px;
        text-align: center;
        border: 1px solid white;
        border-radius: 30px;
        padding: 13px 24px;
        transform: translateX(220px);
        word-spacing: 3px;
        letter-spacing: 2px;
        color: black;
        background-color: #ffffff;

    }

    .d-xxl-banner{
        height: 800px;
    }

    .d-xxl-con-img{
        width: 445px;
        height: 446px;
    }
    .font-style-2::before{
        position: absolute;
        content: '';
        background-image: url('../images/slider3.png');
        background-repeat: no-repeat;
        left: 100%;
        width: 100px;
        height: 50px;
    }
    
    
    .font-style-2::after{
        position: absolute;
        content: '';
        background-image: url('../images/slider4.png');
        background-repeat: no-repeat;
        top: 20%;
        width: 100px;
        height: 50px;
    }

     /*food offer*/

     .d-xxl-block{
        display: block;
    }

    .radious-xxl-br{
        border-radius: 20px;
    }

    .br-style{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
    }

    .mb-15{
        margin-bottom: 0px;
    }

    .mb{
        padding-bottom: 15px;
    }
    .green-img{
        bottom: 0;
        right: -30%;
    }
    .tomato-img{
        bottom: 25%;
        right: -100px;
    }
    .chili-img{
        bottom: 10%;
        left: -10%;
    }

    /*elementor menu*/
    .elementor-p{
        font-size: 40px;
    }
    .menu-h{
        font-size: 20px;
        font-weight: 600;
    }
    .menu-pr{
        font-size: 25px;
        font-weight: 700;

    }
    .menu-1{
        padding: 0px 35px 0px 20px;
        margin-bottom: 40px;
    }
    .menu-font-p{
        font-size: 16px;
    }
    
    .menu-s{
        font-size: 30px;
        letter-spacing: 2px;
    }

    /*today special*/
    .pad-xxl-right{
        padding-right: 10px;
    }

    /*table*/
        
    .t-b-img1{
        width: 759px;
        height: 762px;
        background-size: cover;
    }
    .t-b-img2{
        width: 759px;
        height: 762px;
        background-size: cover;
    }

    .tb-info-style textarea{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 400px;
    }

    
.tb-info-style input{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    }

    .f-s{
        padding: 20px 0px;
    }
}   
